In [13]:
# Installing Pytends

# pip install pytrends

In [27]:
# connect to google 

from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)

In [28]:
# build payload

kw_list = ["machine learning"] # list of keywords to get data 

pytrends.build_payload(kw_list, cat=0, timeframe='today 12-m')

In [30]:
#1 Interest over Time
data = pytrends.interest_over_time() 
data = data.reset_index() 


import plotly.express as px

fig = px.line(data, x="date", y=['machine learning'], title='Keyword Web Search Interest Over Time')
fig.show()

In [31]:
#Interest Over Time

pytrends.interest_over_time()

            machine learning  isPartial
date
2022-05-01                90      False
2022-05-08               100      False
2022-05-15                87      False
2022-05-22                85      False
2022-05-29                81      False
2022-06-05                87      False
2022-06-12                89      False
2022-06-19                89      False
2022-06-26                83      False
2022-07-03                80      False
2022-07-10                78      False
2022-07-17                84      False
2022-07-24                81      False
2022-07-31                79      False
2022-08-07                78      False
2022-08-14                74      False
2022-08-21                79      False
2022-08-28                78      False
2022-09-04                82      False
2022-09-11                85      False
2022-09-18                88      False
2022-09-25                86      False
2022-10-02                88      False
2022-10-09                91      False
2022-10-16                90      False
2022-10-23                86      False
2022-10-30                90      False
2022-11-06                87      False
2022-11-13                98      False
2022-11-20                84      False
2022-11-27                91      False
2022-12-04                93      False
2022-12-11                93      False
2022-12-18                77      False
2022-12-25                69      False
2023-01-01                82      False
2023-01-08                87      False
2023-01-15                87      False
2023-01-22                91      False
2023-01-29                95      False
2023-02-05                90      False
2023-02-12                91      False
2023-02-19                91      False
2023-02-26                93      False
2023-03-05                89      False
2023-03-12                88      False
2023-03-19                88      False
2023-03-26                92      False
2023-04-02                81      False
2023-04-09                84      False
2023-04-16                91       True

In [32]:
# Multirange Interest Over Time

# pytrends.build_payload(kw_list=['pizza', 'bagel'], timeframe=['2022-09-04 2022-09-10', '2022-09-18 2022-09-24']))
# pytrends.multirange_interest_over_time()

In [35]:
by_region = pytrends.interest_by_region(resolution='COUNTRY', inc_low_vol=True, inc_geo_code=False).sort_values(by = "machine learning", ascending=False)
by_region.head()

           machine learning
geoName
India                   100
Sri Lanka                78
Hong Kong                62
Malawi                   62
Kenya                    61

In [36]:
# by region greater than >10 searches
by_region[by_region["machine learning"] > 50]

            machine learning
geoName
India                    100
Sri Lanka                 78
Hong Kong                 62
Malawi                    62
Kenya                     61
Lesotho                   59
Madagascar                54
Mauritius                 54
Lebanon                   52

In [38]:
# Related Queries

# data1  = pytrends.related_queries()

# data1['machine learning']['top'] 

#We indicate the query that we want to carry out
words_list = ["machine learning"]
  
#We pass all the parameters we want to the request (filtered)
pytrends.build_payload(words_list, cat=0, timeframe="today 12-m", geo="ES")
    
#We run pytrends.related_topics()
pytrends.related_topics() 

#We indicate that we want the topics with an increasing volume
#during the established period of time
trend_analysis = pytrends.related_topics()
trend_analysis.get("machine learning").get("top")
#trend_analysis.get("cruises").get("rising")

,value,formattedValue,hasData,link,topic_mid,topic_title,topic_type
0,100,100,True,/trends/explore?q=/m/01hyh_&date=today+12-m&ge...,/m/01hyh_,Machine learning,Software classification
1,95,95,True,/trends/explore?q=/m/0dkw5&date=today+12-m&geo=ES,/m/0dkw5,Machine,Topic
2,26,26,True,/trends/explore?q=/m/0191f8&date=today+12-m&ge...,/m/0191f8,Learning,Topic
3,12,12,True,/trends/explore?q=/m/026sq&date=today+12-m&geo=ES,/m/026sq,Data,Topic
4,10,10,True,/trends/explore?q=/m/0mkz&date=today+12-m&geo=ES,/m/0mkz,Artificial intelligence,Topic
5,9,9,True,/trends/explore?q=/m/05z1_&date=today+12-m&geo=ES,/m/05z1_,Python,Programming language
6,6,6,True,/trends/explore?q=/m/0h1fn8h&date=today+12-m&g...,/m/0h1fn8h,Deep learning,Topic
7,5,5,True,/trends/explore?q=/m/02kwz2&date=today+12-m&ge...,/m/02kwz2,Intelligence,Topic
8,5,5,True,/trends/explore?q=/m/0jpv&date=today+12-m&geo=ES,/m/0jpv,Algorithm,Topic
9,4,4,True,/trends/explore?q=/m/06mq7&date=today+12-m&geo=ES,/m/06mq7,Science,School category
10,3,3,True,/trends/explore?q=/g/11c0q_9fcc&date=today+12-...,/g/11c0q_9fcc,Artificial,Topic
11,3,3,True,/trends/explore?q=/m/0jt3_q3&date=today+12-m&g...,/m/0jt3_q3,Data science,Field of study
12,3,3,True,/trends/explore?q=/m/01klyk&date=today+12-m&ge...,/m/01klyk,Prediction,Topic
13,3,3,True,/trends/explore?q=/m/07hs4p&date=today+12-m&ge...,/m/07hs4p,Course,Education
14,3,3,True,/trends/explore?q=/m/05dhw&date=today+12-m&geo=ES,/m/05dhw,Artificial neural network,Topic
15,3,3,True,/trends/explore?q=/m/03f9cn&date=today+12-m&ge...,/m/03f9cn,Regression analysis,Topic
16,3,3,True,/trends/explore?q=/g/11m_gy8839&date=today+12-...,/g/11m_gy8839,Machine Learning for Kids: A Project-Based Int...,Book by Dale Lane
17,2,2,True,/trends/explore?q=/m/0h97pvq&date=today+12-m&g...,/m/0h97pvq,scikit-learn,Software
18,2,2,True,/trends/explore?q=/m/04y7lrx&date=today+12-m&g...,/m/04y7lrx,Microsoft Azure,Computer application
19,2,2,True,/trends/explore?q=/m/059bs&date=today+12-m&geo=ES,/m/059bs,Neuron,Topic
20,2,2,True,/trends/explore?q=/m/02cck&date=today+12-m&geo=ES,/m/02cck,Data set,Topic
21,2,2,True,/trends/explore?q=/m/016t_3&date=today+12-m&ge...,/m/016t_3,Master's Degree,Degree
22,2,2,True,/trends/explore?q=/m/05czq1&date=today+12-m&ge...,/m/05czq1,Statistical classification,Topic
23,2,2,True,/trends/explore?q=/m/0bj6r&date=today+12-m&geo=ES,/m/0bj6r,System,Topic
24,2,2,True,/trends/explore?q=/m/0bs2j8q&date=today+12-m&g...,/m/0bs2j8q,Big data,Topic

In [101]:
# Related Queries

rq  = pytrends.related_queries()

#rq.get("machine learning").get("top")

In [103]:
rq.values()

dict_values([{'top':                               query  value
0                            python    100
1           python machine learning    100
2                     deep learning     70
3           que es machine learning     59
4           inteligencia artificial     36
5                      data science     31
6         machine learning for kids     27
7            azure machine learning     24
8                          big data     23
9           artificial intelligence     21
10       que es el machine learning     20
11                       tensorflow     19
12      machine learning algorithms     17
13                         coursera     13
14                          scholar     11
15                 redes neuronales     10
16                          pytorch      8
17                   google scholar      7
18                     scikit learn      7
19                 cross validation      7
20  uci machine learning repository      5
21                              llm      5
22                     google colab      4
23                              mlp      4
24                             lstm      3, 'rising':                              query  value
0                              llm  39650
1                              mlp  37200
2                             lstm  29800
3                 stable diffusion  28850
4                 cross validation    130
5                     scikit learn    100
6                          pytorch     90
7  uci machine learning repository     60
8                   google scholar     60
9                 redes neuronales     50}])

In [51]:
# Keyword Suggestion

import pandas as pd

keywords = pytrends.suggestions(keyword='Business Intelligence')
df = pd.DataFrame(keywords)
df.tail()

             mid                             title                   type
0      /m/016jq3             Business intelligence                  Topic
1  /g/11j319bvxm               The Mountain is You  Book by Brianna Wiest
2      /m/0b74sk    Business intelligence software       Type of software
3  /g/11bwfts8w_                        John Haime                 Author
4      /m/04ktdq  SAP NetWeaver Business Warehouse      Software industry

In [78]:
keywords = pytrends.suggestions(keyword='machine learning')
df = pd.DataFrame(keywords)
df.tail()

,mid,title,type
0,/m/01hyh_,Machine learning,Field of study
1,/g/11m_gy8839,Machine Learning for Kids: A Project-Based Int...,Book by Dale Lane
2,/g/11f2sl5v8_,Automated machine learning,Topic
3,/g/11dxqcx7f2,Deep Learning with Python,Book by François Chollet
4,/g/11h191mm4z,Mathematics for Machine Learning,"Book by A. Aldo Faisal, Cheng Soon Ong, and Ma..."

In [114]:
# Trending Searches

pytrends.trending_searches(pn='united_states') # trending searches in real time for United States
pytrends.trending_searches(pn='japan') # Japan

                0
0        崩壊スターレイル
1      エラーゲームリセット
2            刀剣乱舞
3          Ispace
4        福知山線脱線事故
5   山陽新幹線 広島駅 不審物
6            LiSA
7             BTS
8            スーダン
9           ブライトン
10            NHK
11       鹿島アントラーズ
12       崩壊スターレイル
13         函館市長選挙
14         大田区長選挙
15         芦屋市長選挙
16     鬼滅の刃刀鍛冶の里編
17        市議会議員選挙
18          スターダム
19         明石市長選挙

In [64]:
# Realtime Search Trends

pytrends.realtime_trending_searches(pn='US') # realtime search trends for United States
pytrends.realtime_trending_searches(pn='IN') # India

,title,entityNames
0,"Wriddhiman Saha, Indian Premier League","[Wriddhiman Saha, Indian Premier League]"
1,"Bengaluru FC, Super Cup, Indian Super League, ...","[Bengaluru FC, Super Cup, Indian Super League,..."
2,"Parkash Singh Badal, Punjab, Shiromani Akali D...","[Parkash Singh Badal, Punjab, Shiromani Akali ..."
3,"Rockstar Games, Grand Theft Auto, Take-Two Int...","[Rockstar Games, Grand Theft Auto, Take-Two In..."
4,"Andhra Pradesh, Andhra Pradesh Board of Interm...","[Andhra Pradesh, Andhra Pradesh Board of Inter..."
5,"Narendra Modi Stadium, Gujarat, Mumbai, Ahmeda...","[Narendra Modi Stadium, Gujarat, Mumbai, Ahmed..."
6,"T10 League, Dream11, Fantasy cricket","[T10 League, Dream11, Fantasy cricket]"
7,"First Republic Bank, Stock","[First Republic Bank, Stock]"
8,"The Witcher, Henry Cavill, Netflix, Geralt of ...","[The Witcher, Henry Cavill, Netflix, Geralt of..."
9,"Sara Tendulkar, Sachin Tendulkar","[Sara Tendulkar, Sachin Tendulkar]"
10,"Jalandhar, Punjab, The Tribune, Aam Aadmi Part...","[Jalandhar, Punjab, The Tribune, Aam Aadmi Par..."
11,Shubman Gill,[Shubman Gill]
12,"Sreenath Bhasi, Shane Nigam, Ranjith","[Sreenath Bhasi, Shane Nigam, Ranjith]"
13,"Badminton Asia Championships, PV Sindhu, Prann...","[Badminton Asia Championships, PV Sindhu, Pran..."
14,"Chargesheet, Kot Kapura, Badal, Sukhbir Singh ...","[Chargesheet, Kot Kapura, Badal, Sukhbir Singh..."
15,"jailer, Civil service entrance examination, Of...","[jailer, Civil service entrance examination, O..."
16,"Indian Navy, Chief of the Naval Staff of India...","[Indian Navy, Chief of the Naval Staff of Indi..."
17,"Uttar Pradesh, Bharatiya Janata Party, Samajwa...","[Uttar Pradesh, Bharatiya Janata Party, Samajw..."
18,"Odisha, Uttar Pradesh State Board of High Scho...","[Odisha, Uttar Pradesh State Board of High Sch..."
19,"Chelsea F.C., Southampton F.C., Premier League...","[Chelsea F.C., Southampton F.C., Premier Leagu..."
20,"Anand Mohan Singh, Bihar, Nitish Kumar, G. Kri...","[Anand Mohan Singh, Bihar, Nitish Kumar, G. Kr..."
21,"Atiq Ahmed, Asaduddin Owaisi, India, News18 In...","[Atiq Ahmed, Asaduddin Owaisi, India, News18 I..."
22,"Indian Railways, Indian Railway Catering and T...","[Indian Railways, Indian Railway Catering and ..."
23,"Don Lemon, CNN, Tucker Carlson, Nikki Haley","[Don Lemon, CNN, Tucker Carlson, Nikki Haley]"
24,"Earthquake, Indonesia, Tsunami warning system,...","[Earthquake, Indonesia, Tsunami warning system..."
25,"Shaquille O'Neal, Los Angeles Lakers, NBA","[Shaquille O'Neal, Los Angeles Lakers, NBA]"
26,"Yogi Adityanath, Uttar Pradesh","[Yogi Adityanath, Uttar Pradesh]"
27,"Jimmy Butler, Miami Heat, Michael Jordan, Chic...","[Jimmy Butler, Miami Heat, Michael Jordan, Chi..."
28,"Chinese Super League, Shenzhen F.C., China, Be...","[Chinese Super League, Shenzhen F.C., China, B..."
29,"Ayodhya, Indian Hotels Company Limited, OYO Ro...","[Ayodhya, Indian Hotels Company Limited, OYO R..."
30,"Career, Student, Hononegah Community High Scho...","[Career, Student, Hononegah Community High Sch..."
31,"Ghazipur, Uttar Pradesh, School","[Ghazipur, Uttar Pradesh, School]"
32,"Maharashtra, Turtles, Nagpur, Pench National P...","[Maharashtra, Turtles, Nagpur, Pench National ..."
33,"Cryptocurrency, 2023, South Korea, Blockchain....","[Cryptocurrency, 2023, South Korea, Blockchain..."
34,"Mumbai Indians, Indian Premier League, Gujarat...","[Mumbai Indians, Indian Premier League, Gujara..."
35,"PSEB, 2023, Student, Punjab, Board examination","[PSEB, 2023, Student, Punjab, Board examination]"
36,"Kerala, Mobile phone","[Kerala, Mobile phone]"
37,"Krunal Pandya, Hardik Pandya, All-rounder","[Krunal Pandya, Hardik Pandya, All-rounder]"
38,"Indian Premier League, Shubman Gill, Gary Kirs...","[Indian Premier League, Shubman Gill, Gary Kir..."
39,Mamukkoya,[Mamukkoya]
40,National Council of Educational Research and T...,[National Council of Educational Research and ...
41,"Uttar Pradesh, Board examination","[Uttar Pradesh, Board examination]"
42,"Iran, Protest","[Iran, Protest]"

In [100]:
# Top cards in year

pytrends.top_charts(2022, hl='en-US', tz=300, geo='GLOBAL')

                   title exploreQuery
0                 Wordle
1       India vs England
2                Ukraine
3        Queen Elizabeth
4              Ind vs SA
5              World Cup
6   India vs West Indies
7              iPhone 14
8         Jeffrey Dahmer
9  Indian Premier League

In [109]:
pytrends.top_charts(2021, hl='en-US', tz=300, geo='GLOBAL')

                  title  exploreQuery
0    Australia vs India
1      India vs England
2                   IPL
3                   NBA
4             Euro 2021
5          Copa América  Copa America
6  India vs New Zealand
7         T20 World Cup
8            Squid Game
9                   DMX

In [110]:
pytrends.top_charts(2020, hl='en-US', tz=300, geo='GLOBAL')

                  title exploreQuery
0           Coronavirus
1      Election results
2           Kobe Bryant
3                  Zoom
4                   IPL
5  India vs New Zealand
6    Coronavirus update
7  Coronavirus symptoms
8             Joe Biden
9      Google Classroom

In [115]:
#We indicate the query that we want to carry out
words_list1 = ["Data science"]
  
#We pass all the parameters we want to the request (filtered)
pytrends.build_payload(words_list1, cat=0, timeframe="today 12-m", geo="ES")
    
#We run pytrends.related_topics()
pytrends.related_topics() 

#We indicate that we want the topics with an increasing volume
#during the established period of time
trend_analysis = pytrends.related_topics()
trend_analysis.get("Data science").get("top")
#trend_analysis.get("cruises").get("rising")

,value,formattedValue,hasData,link,topic_mid,topic_title,topic_type
0,100,100,True,/trends/explore?q=/m/026sq&date=today+12-m&geo=ES,/m/026sq,Data,Topic
1,99,99,True,/trends/explore?q=/m/06mq7&date=today+12-m&geo=ES,/m/06mq7,Science,School category
2,96,96,True,/trends/explore?q=/m/0jt3_q3&date=today+12-m&g...,/m/0jt3_q3,Data science,Field of study
3,19,19,True,/trends/explore?q=/m/016t_3&date=today+12-m&ge...,/m/016t_3,Master's Degree,Degree
4,9,9,True,/trends/explore?q=/m/05z1_&date=today+12-m&geo=ES,/m/05z1_,Python,Programming language
5,8,8,True,/trends/explore?q=/m/07hs4p&date=today+12-m&ge...,/m/07hs4p,Course,Education
6,7,7,True,/trends/explore?q=/m/0bs2j8q&date=today+12-m&g...,/m/0bs2j8q,Big data,Topic
7,6,6,True,/trends/explore?q=/m/07tf8&date=today+12-m&geo=ES,/m/07tf8,University,School category
8,5,5,True,/trends/explore?q=/m/01hyh_&date=today+12-m&ge...,/m/01hyh_,Machine learning,Software classification
9,5,5,True,/trends/explore?q=/m/0dkw5&date=today+12-m&geo=ES,/m/0dkw5,Machine,Topic
10,5,5,True,/trends/explore?q=/m/07zy4y&date=today+12-m&ge...,/m/07zy4y,Data analysis,Topic
11,5,5,True,/trends/explore?q=/m/02gcn9&date=today+12-m&ge...,/m/02gcn9,Analytics,Topic
12,4,4,True,/trends/explore?q=/m/0mkz&date=today+12-m&geo=ES,/m/0mkz,Artificial intelligence,Topic
13,4,4,True,/trends/explore?q=/m/02w88k&date=today+12-m&ge...,/m/02w88k,Salary,Topic
14,4,4,True,/trends/explore?q=/g/121jnq1m&date=today+12-m&...,/g/121jnq1m,Business,Topic
15,3,3,True,/trends/explore?q=/m/02kwz2&date=today+12-m&ge...,/m/02kwz2,Intelligence,Topic
16,3,3,True,/trends/explore?q=/m/06mnr&date=today+12-m&geo=ES,/m/06mnr,Statistics,Discipline
17,3,3,True,/trends/explore?q=/m/0156dy&date=today+12-m&ge...,/m/0156dy,Project,Topic
18,3,3,True,/trends/explore?q=/g/121vr6rm&date=today+12-m&...,/g/121vr6rm,Analysis,Topic
19,3,3,True,/trends/explore?q=/m/04nhxw&date=today+12-m&ge...,/m/04nhxw,UOC Open University of Catalonia - Barcelona,"Open university in Barcelona, Spain"
20,3,3,True,/trends/explore?q=/m/02ky346&date=today+12-m&g...,/m/02ky346,Engineering,Discipline
21,3,3,True,/trends/explore?q=/m/019v9k&date=today+12-m&ge...,/m/019v9k,Bachelor's degree,Degree
22,2,2,True,/trends/explore?q=/g/11my1t41tp&date=today+12-...,/g/11my1t41tp,good,Topic
23,2,2,True,/trends/explore?q=/m/0j9kbbz&date=today+12-m&g...,/m/0j9kbbz,Coursera,Company
24,2,2,True,/trends/explore?q=/m/04rjg&date=today+12-m&geo=ES,/m/04rjg,Mathematics,Topic

In [116]:
# Related Queries

rq1  = pytrends.related_queries()
rq1.values()

dict_values([{'top':                     query  value
0     master data science    100
1                big data     41
2   bootcamp data science     25
3          data scientist     16
4                     uoc     15
5                coursera     14
6    towards data science     12
7                linkedin     11
8                     edx      9
9                   udemy      7
10               datacamp      4, 'rising':       query   value
0     udemy  111850
1  datacamp   67350
2       edx     250
3  coursera     150}])

In [117]:
# Keyword Suggestion

import pandas as pd

keywords = pytrends.suggestions(keyword='Big data')
df = pd.DataFrame(keywords)
df.tail()

,mid,title,type
0,/m/0bs2j8q,Big data,Topic
1,/m/0h0rgk,Chrysanthemum,Book by Kevin Henkes
2,/m/06zxhpb,Data Engineer,Career
3,/m/09gjp7t,Tears of a Tiger,Novel by Sharon M Draper
4,/g/11hckgcz8d,Humble Pi: A Comedy of Maths Errors,Book by Matt Parker